<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" href="/src/client/styles/resets.scss" />
    <link rel="stylesheet" href="/src/client/styles/base.scss" />
    <link rel="stylesheet" href="/src/client/styles/header.scss" />
    <link rel="stylesheet" href="/src/client/styles/form.scss" />
    <link rel="stylesheet" href="/src/client/styles/footer.scss" />
  </head>

  <body>
    <header>
      <div class="Nasa Logo">
        <img
          src="https://www.nasa.gov/sites/default/files/thumbnails/image/nasa-logo-web-rgb.png"
          alt="Nasa Logo"
          class="NASALogo"
        />
      </div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input id="date" type="date" name="input" value="" />
          <input
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section>
        <strong>Picture of the Day:</strong>
        <div id="results"></div>
      </section>
    </main>
    <footer>
      <p>The Nasa Picture of The Day</p>
    </footer>
  </body>
</html>
