<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App by Latitude AND Longitude</title>
</head>

<body>

    <header>
        <div class="logo">

        </div>
        <div class="navigation">

        </div>
    </header>

    <main>
        <h1>Weather App by Latitude AND Longitude</h1>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="lat" type="number" name="input" value="" placeholder="Latitude">
                <input id="lon" type="number" name="input" value="" placeholder="Longitude">
                <input type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
            <section>
                <h2>Form Results:</h2>
                <section class="results">

                    <div id="resultsTemp"></div>
                    <div id="resultsName"></div>
                    <div id="resultsCountry"></div>
                </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

</html>