body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    // min-height: 60vh;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    overflow: hidden;
}

main {
    flex: 2;
}

section {
    max-width: 1000px;
    margin: 50px auto;
}

strong{
    color: #D6CE15; 
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.analysis {
    padding: 10px;
    margin: 5px;
}