header {
    grid-area:hd;
    display: inline-grid;
    margin: 15px;
    padding: 5px;
    font-size: 25px;
    align-items: center; 
    text-align: center;
    color: #D6CE15; 
    font-family: 'Orbitron', sans-serif;  
}

